:root {
    --background-light-1: linear-gradient(90deg, rgb(235, 235, 235) 0%, rgba(255,255,255,1) 100%);;
    --background-light-2: linear-gradient(11deg, rgba(195,195,195,1) 0%, rgba(210,210,210,1) 100%);
    --background-light-3: linear-gradient(11deg, rgb(180, 180, 180) 0%, rgba(190,190,190,1) 100%);
    
    --default-shadow: 1px 1px 3px rgb(0, 0, 0, .2);

    --button-red: rgb(94, 16, 16);

    /* color palette */
    --palette-1: #042326;
    --palette-2: #0A3A40;
    --palette-3: #0F5959;
    --palette-4: #1D7373;
    --palette-5: #107361;
    --palette-6: #a2e1e1;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Crimson Text', serif;
    color: var(--palette-6);
}

html, body, #app {
    width: 100%;
    height: 100%;
}

body #app {
    background-color: var(--palette-4);
    overflow-y: auto;
}

button {
    border: none;
    font-size: 1.25rem;
    box-shadow: var(--default-shadow);
    color: var(--palette-4);
    background: var(--palette-2);
    padding: .25rem 1.25rem;
    width: 15rem;
} button:hover {
    cursor: pointer;
} button:disabled {
    cursor: default;
}

input {
    color: white;
    font-size: 1.2rem;
    background-color: var(--palette-3);
    border: none;
    border-bottom: 1px solid var(--palette-2);
} input::placeholder {
    color: var(--palette-5);
    font-size: 1.2rem;
} input:focus {
    outline: none;
}